* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    background-color: black !important;
    color: white !important;
}


a {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.form-control {
    background-color: #31363F !important;
    color: white !important;
}

.form-control::-webkit-input-placeholder {
    color: white;
}

.project_test {
    margin-top: 10%;
}

.btn_1 {
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}

.btn_1:hover {
    background-color: gray;
    transition: 1s;
    color: white;
    border: gray;
}

.social-icon {
    color: white;
}

.social-icon:hover {
    color: white;
    transition: 1s;
}

.footer_mail {
    color: white;
    text-decoration: none;
}

.footer_mail:hover {
    color: white;
    transition: 1s;
}

.btn_2 {
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
}

.btn_2:hover {
    background-color: gray;
    transition: 1s;
    color: white;
    border: gray;
}

.active {
    background-color: gray;
    color: #fff;
    border: gray;
}

/* loading animation */
.loading-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Make it full height */
}

.loading-animation {
    max-width: 100%;
    /* Ensure it doesn't overflow */
    max-height: 100%;
    /* Ensure it doesn't overflow */
}

/* gpt code */

/* gpt code */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

/* Variables */
:root {
    --main-green: #79dd09;
    --main-green-rgb-015: rgba(121, 221, 9, 0.1);
    --main-yellow: #bdbb49;
    --main-yellow-rgb-015: rgba(189, 187, 73, 0.1);
    --main-red: #bd150b;
    --main-red-rgb-015: rgba(189, 21, 11, 0.1);
    --main-blue: #0076bd;
    --main-blue-rgb-015: rgba(0, 118, 189, 0.1);
}

/* This pen */
body {
    font-family: "Baloo 2", cursive;
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

.dark {
    background: #110f16;
}

.light {
    background: #f3f5f7;
}

a,
a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.postcard.dark {
    background-color: #18151f;
}

.postcard.light {
    background-color: #e1e5ea;
}

.postcard.dark .t-dark {
    color: #18151f;
}

.postcard a {
    color: inherit;
    text-decoration: none;
}

.postcard h1,
.postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .small {
    font-size: 80%;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    max-width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 100px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__title {
        font-size: 2rem;
    }

    .postcard .postcard__tagbox {
        justify-content: start;
    }

    .postcard .postcard__img {
        max-width: 500px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .media.postcard .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }

    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }

    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}

@media screen and (min-width: 1024px) {
    .postcard .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark .postcard__text:before {
        background: #18151f;
    }

    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: var(--main-green);
    color: black;
}

.green .postcard__title:hover {
    color: var(--main-green);
}

.green .postcard__bar {
    background-color: var(--main-green);
}

.green:before {
    background-image: linear-gradient(-30deg, var(--main-green-rgb-015), transparent 50%);
}

.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909;
    opacity: 1;
}

.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909;
    opacity: 1;
}



input[type="text"] {
    display: block;
    width: 300px;
    padding: 10px;
    /* margin-bottom: 5px; */
    background-color: #31363F;
    border-radius: 10px;
    color: white;
}

input[type="email"] {
    display: block;
    width: 300px;
    padding: 10px;
    /* margin-bottom: 5px; */
    background-color: #31363F;
    border-radius: 10px;
    color: white;
}

textarea {
    display: grid;
    width: 100%;
    padding: 10px;
    background-color: #31363F;
    border-radius: 10px;
    color: white;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .hero_mein {
        display: contents;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 50px;

    }

    .text-white {
        max-width: 100%;
        gap: 15px;
        display: grid;
    }

    .hero_btn {
        justify-content: center;
        display: flex;
        padding-bottom: 25px;
    }

    .project_contact {
        min-width: 100%;
    }

    .myproject_mein {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .postcard {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .postcard__img {
        width: 100%;
    }

    .postcard__text {
        padding: 10px;
    }

    .form_nameemail {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;

    }

    .form_textarea {
        display: flex;
        flex-direction: column;
        width: 125%;
        align-items: start;
        padding-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    .pn_logo {
        width: 40%;
    }

    .hero_mein {
        gap: 50px;
        display: grid;
    }

    .text-white h1 {
        font-size: 24px;
    }

    .text-white p {
        font-size: 14px;
    }

    .text-white {
        width: 100%;
        gap: 15px;
        display: grid;
    }

    .container {
        padding: 0 10px;
    }

    .postcard__text {
        padding: 5px;
    }

    .w-50 {
        width: 100%;
    }

    .form_textarea {
        display: flex;
        flex-direction: column;
        width: 118%;
        align-items: start;
        padding-top: 30px;
    }
}

@media screen and (max-width: 425px) {

    .banner_img {
        width: 300px;
    }

    .form_nameemail {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;

    }

    .form_textarea {
        display: flex;
        flex-direction: column;
        width: 150%;
        padding-top: 30px;
        margin-left: -3pc;
    }

    .dark {
        align-content: center;
        justify-content: center;
        display: grid;
    }
}

@media screen and (max-width: 375px) {

    .banner_img {
        width: 300px;
    }

    .form_nameemail {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;

    }

    .form_textarea {
        display: flex;
        flex-direction: column;
        width: 125%;
        align-items: start;
        padding-top: 30px;
    }
}

@media screen and (max-width: 320px) {

    .banner_img {
        width: 300px;
    }

    .form_nameemail {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;

    }

    .form_textarea {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: start;
        padding-top: 30px;
    }
}